[submodule "src/boost"]
	path = src/boost
	url = ../../quinoacomputing/Boost.git
[submodule "src/charm"]
	path = src/charm
#	url = http://charm.cs.uiuc.edu/gerrit/charm
	url = ../../UIUC-PPL/charm.git
[submodule "src/hdf5"]
	path = src/hdf5
	url = ../../HDFGroup/hdf5.git
#[submodule "src/hypre"]
#	path = src/hypre
#	url = ../../quinoacomputing/HYPRE.git
[submodule "src/lapack"]
	path = src/lapack
	url = ../../Reference-LAPACK/lapack.git
[submodule "src/netcdf"]
	path = src/netcdf
	url = ../../Unidata/netcdf-c.git
[submodule "src/numdiff"]
	path = src/numdiff
	url = ../../quinoacomputing/ndiff.git
[submodule "src/pegtl"]
	path = src/pegtl
	url = ../../taocpp/PEGTL.git
[submodule "src/pugixml"]
	path = src/pugixml
	url = ../../zeux/pugixml.git
[submodule "src/trilinos"]
	path = src/trilinos
	url = ../../trilinos/Trilinos.git
[submodule "src/tut"]
	path = src/tut
	url = ../../mrzechonek/tut-framework.git
[submodule "cmake"]
	path = cmake
	url = ../../quinoacomputing/cmake-modules.git
  branch = inciter
[submodule "src/backward-cpp"]
	path = src/backward-cpp
	url = ../../bombela/backward-cpp.git
[submodule "src/highwayhash"]
	path = src/highwayhash
	url = ../../google/highwayhash.git
[submodule "src/brigand"]
	path = src/brigand
	url = ../../edouarda/brigand.git
[submodule "src/hdf5-ampi"]
	path = src/hdf5-ampi
	url = ../../UIUC-PPL/hdf5-ampi.git
[submodule "src/doxygen"]
	path = src/doxygen
	url = ../../doxygen/doxygen
[submodule "src/m.css"]
	path = src/m.css
	url = ../../mosra/m.css
[submodule "src/sol2"]
	path = src/sol2
	url = ../../ThePhD/sol2.git
[submodule "src/exam2m"]
	path = src/exam2m
	url = ../../Charmworks/ExaM2M.git
