[submodule "src/aec"]
	path = src/aec
#	url = https://gitlab.dkrz.de/k202009/libaec.git
	url = ../../erget/libaec.git
[submodule "src/boost"]
	path = src/boost
	url = ../../quinoacomputing/Boost.git
[submodule "src/charm"]
	path = src/charm
#	url = http://charm.cs.uiuc.edu/gerrit/charm
	url = ../../UIUC-PPL/charm.git
[submodule "src/h5part"]
	path = src/h5part
	url = ../../quinoacomputing/H5Part.git
[submodule "src/hdf5"]
	path = src/hdf5
	url = ../../quinoacomputing/HDF5.git
[submodule "src/hypre"]
	path = src/hypre
	url = ../../quinoacomputing/HYPRE.git
[submodule "src/lapack"]
	path = src/lapack
	url = ../../Reference-LAPACK/lapack.git
[submodule "src/netcdf"]
	path = src/netcdf
	url = ../../Unidata/netcdf-c.git
[submodule "src/numdiff"]
	path = src/numdiff
	url = ../../quinoacomputing/ndiff.git
[submodule "src/pegtl"]
	path = src/pegtl
	url = ../../taocpp/PEGTL.git
[submodule "src/pstreams"]
	path = src/pstreams
#	url = https://git.code.sf.net/p/pstreams/code
	url = ../../jwakely/pstreams.git 
[submodule "src/pugixml"]
	path = src/pugixml
	url = ../../zeux/pugixml.git
[submodule "src/random123"]
	path = src/random123
	url = ../../quinoacomputing/Random123.git
[submodule "src/rngsse2"]
	path = src/rngsse2
	url = ../../quinoacomputing/RNGSSE2.git
[submodule "src/testu01"]
	path = src/testu01
	url = ../../quinoacomputing/TestU01-threadsafe.git
[submodule "src/trilinos"]
	path = src/trilinos
	url = ../../trilinos/Trilinos.git
[submodule "src/tut"]
	path = src/tut
	url = ../../mrzechonek/tut-framework.git
[submodule "cmake"]
	path = cmake
	url = ../../quinoacomputing/cmake-modules.git
[submodule "src/backward-cpp"]
	path = src/backward-cpp
	url = ../../bombela/backward-cpp.git
[submodule "src/highwayhash"]
	path = src/highwayhash
	url = ../../google/highwayhash.git
[submodule "src/omega_h"]
	path = src/omega_h
	url = ../../SNLComputation/omega_h.git
[submodule "src/brigand"]
	path = src/brigand
	url = ../../edouarda/brigand.git
[submodule "src/hdf5-ampi"]
	path = src/hdf5-ampi
	url = http://charm.cs.illinois.edu/gerrit/hdf5-ampi
[submodule "src/root"]
	path = src/root
	url = ../../root-project/root.git
[submodule "src/doxygen"]
	path = src/doxygen
	url = ../../doxygen/doxygen
[submodule "src/m.css"]
	path = src/m.css
	url = ../../mosra/m.css
